{% extends 'main/base.html' %}
{% load static %}

{% block title %}Вход — PixShop{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'item_list' %}">Главная</a> → Вход
{% endblock %}

{% block content %}
<div style="max-width: 500px; margin: 0 auto;">
    <h1>ВХОД</h1>
    <form method="post" style="margin-top: 30px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-add" style="width: 100%;">ВОЙТИ</button>
    </form>
    <p style="margin-top: 20px; font-size: 0.6rem;">Нет аккаунта? <a href="{% url 'register' %}" style="color: white;">Регистрация</a></p>
</div>
{% endblock %}